<launch>
  <arg name="gripper_port" value="/dev/ttyUSB1" />
  <arg name="sensor_port" value="ttyUSB0" />

  <!--gripper bringup-->
  <node name="gripper_node" pkg="robotiq_c_model_control" type="CModelRtuNode.py" args="$(arg gripper_port)" />

  <!--force torque sensor bringup-->
  <node name="sensor_node" pkg="robotiq_force_torque_sensor" type="rq_sensor" >
    <param name="serial_id" value="$(arg sensor_port)" />
  </node>

</launch>
